html,body,grid-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1604145204173-57c74a578cd6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2824&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    overflow: hidden;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 10px; 
    height: 100%;
  }

.column1 {
    margin-left: 20%;
    margin-top: 10%;
}
  
.column2 {
    
    display: grid;
    grid-template-rows: repeat(3, auto); 
    grid-gap: 10px; /
    margin-right: 15%;
    margin-top: 5%;
  }
  
.block1 {
    background-color: rgb(201, 213, 221);
    height: 100%; 
    background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
    padding-top: 10px;


  }
  

  
.block4 {
    
    height: 100px;
    padding-bottom: 50px;
    
    
  }
.block3 {
   
    grid-row-start: 3;
    grid-row-end: 3;
    height: 100%;
    margin-bottom: 20%;

  }
  
.titre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}

.soustitre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}

.soustitre1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    text-decoration: underline;
}

.soustitre2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    padding-left: 10px;
    margin: 10px;
}

.soustitre2222{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    margin-left: 10px;
    margin: 10px;
    color: white;
}

.formation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 30px;
    
}

.soustitre22{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px; 
    margin-left: 10px;
    margin: 10px;
    color: white;
    text-decoration: underline;
}

.formation1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    color: white;
}

#photo{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    margin-top: -10px; 
}

.paragraphe{
    margin-top: -15px;
}

.soustitre222{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px; 
    margin-left: 10px;
    margin: 10px;
    color: white;
    text-decoration: underline;
}
.formation11{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    color: white;
}